@import "tailwindcss";

@theme {
	--color-primary: #162456;
	--color-secondary: #343246;
	--color-primary-btn: #093aeb;
	--color-delete-btn: rgb(148, 30, 30);
	--color-text: #ffffff;
	--color-black: #141414;
}

:root {
	margin: 0;
	padding: 0;
	color: var(--color-text);
}
